cloud_id                 = "FakeCloudID"
folder_id                = "FakeFolderID"
zone                     = "ru-central1-a"
image_id                 = "fd893fnvnjojhrp6d9ge" #ubuntu-18-04-lts-v20221121
public_key_path          = "~/.ssh/ubuntu.pub"
private_key_path         = "~/.ssh/ubuntu"
subnet_id                = "FakeSubnetID"
service_account_key_file = "~/key.json"
vm_count = 2
