cloud_id                 = "FakeCloudID"
folder_id                = "FakeFolderID"
zone                     = "ru-central1-a"
image_id                 = "fd8c3dv7t6prd7j4n162" # Ubuntu 18-04
public_key_path          = "~/.ssh/ubuntu.pub"
private_key_path         = "~/.ssh/ubuntu"
subnet_id                = "FakeSubnetID"
service_account_key_file = "~/key.json"
nodes_count = 1
